- if errors
  %p Errors:
  %ul
  - for error in errors
    %li #{error}

%br

%form(method="post" action='#{form_url}')
  - csrf_token
  %fieldset
    %legend
     Basic Info
    .row
      .col
        %label.form-label(for="name") Name
      .col.col-10
        %input.form-control(name="name" value="#{form.name}")
    .row
      .col
        %label.form-label(for="email")Email
      .col.col-10
        %input.form-control(name="email" type="email" value="#{form.email}")

    %hr

    %fieldset
       %legend Address
      .row
        .col.col-10
          %input.form-control(name="address_line1" value="#{form.address_line1}")
      .row
        .col.col-10
           %input.form-control(name="address_line2" value='#{form.address_line2 | default:""}')
      .row
        .col.col-2
          %label.form-label(for="city")City
        .col.col-3
          %input.form-control(name="city" value="#{form.city}")
      .row
        .col.col-2
          %label.form-label(for="zip_code")Zip code
        .col.col-3
          %input.form-control(name="zip_code" value="#{form.zip_code}")

    %br

    %button.btn.btn-primary(type="submit")Submit

   -if delete
      %a.btn.btn-danger(href="{% url 'hr:employee_delete' form.pk %}" role="button") Delete
